.detail {
  transition: all 1s ease-in-out;
  background: linear-gradient(white, grey);
  border: solid;
  border-width: thin;
  width: 80%;
  /* box-shadow: 0px 0px 2px 2px rgb(201, 238, 39); */
}
.detail .col {
  font-weight: 500;
  padding-right: 0;
  margin-right: 0;
  padding-left: 3%;
}

.detail button {
  font-weight: bold;
  border-radius: 8px;
}
