.fcards{
   background: #00c3ff;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #ffff1c, #00c3ff);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #ffff1c, #00c3ff); 
border-radius: 2px;
   box-shadow: 0px 4px 4px 2px grey;
   border: solid rgb(65, 207, 124);
   border-width: 2px;
}
.fcards h4{
   font-weight: bold;
   color: rgb(63, 26, 26);
}
.fcards h{
   color: red;
   font-weight: 700;
   
   text-shadow: 1px 2px 1px yellow;
}
.fcards .description{
   font-weight: bold;
   font-size: 110%;

}
